
<header class="parallax parallax--header js-parallax--header">
    <div class="parallax__bg" style="background-image: url(<%= image_path('header4.jpg')%>);"></div>
    <div class="parallax__cta parallax__cta--mini parallax__cta--bl">
        <h2>About</h2>
    </div>
</header>

<section class="content">

    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <p>The Collaborative Design Toolkit is the product of a three year long research project conducted by Dan Bagnall whilst undertaking a Master of Architecture at Birmingham School of Architecture. The research focused on participation of local stakeholders in architecture and collaboration between these stakeholders, powerholders such as councils and developers and architects. Research was not only conducted traditional theory and case study led approach, but also through practical research on a number of engagement projects. During this time it became evident a tool was required to facilitate the initiation of such projects, this led to the creation of the Collaborative Design Toolkit.</p>

                <p>The purposed of the Toolkit is to facilitate engagement between stakeholders, powerholders and architects, developing new connections and partnerships, which in turn may lead to collaboration between all parties over decisions regarding the built environment. Although the Toolkit is currently at a prototype stage, developed as part of the submission for the MArch research project, it is open for live testing. It is hoped through continual testing and dialogue with users it will develop further, evolving to encompass requirements and suggestions from users.</p>

                <p>If you have used the Collaborative Design Toolkit and have feedback please send comments to: info@collaborativedesign.net
                </p>

                <!-- <%= image_tag "hill.jpg" %> -->

            </div>
        </div>

    </div>
</section>