@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

body, html {
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    font-size: 62.5%;
    line-height: 1.4;
    height: 100%;
}
.alert {
    margin-top: 10px;
}