
.global-nav {
    background-color: #fff;
    z-index: 1030;
    position: fixed;
    top: -75px;
    width: 100%;
    transition: all 0.4s;
    background-color: #fff;

    .global-nav--inner {
        float: right;
        padding: 15px 0;

        a {
            margin: 0 15px;
            padding: 14px 0 2px;
            @include font-size(12);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            color: #333;
            display: inline-block;

            &:hover,
            &.active {
                border-bottom: solid 2px #333;
                text-decoration: none;
            }

            &.btn {
                padding: 10px 15px;
                border-color: #333;
                text-transform: capitalize;
                font-weight: 400;
                height: 44px;
                line-height: 18px;
                @include font-size(14);


                &:hover{
                    color: #fff;
                    background-color: #333;
                }
            }
        }

    }
}

.parallax {
    height: 500px;
    position: relative;
    overflow: hidden;

    .parallax__cta {
        position: absolute;
        background-color: #fff;
        padding: 30px;
        max-width: 70%;
        width: 400px;

        h2 {
            margin: 0 0 10px;
        }

        p {
            @include font-size(16);
        }
        a {
            border-bottom: solid 2px #222;
            color: #222;
            @include font-size(14);
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }
        }
    }
    .parallax__cta--tl {
        top: 30px;
        left: 30px;
    }
    .parallax__cta--bl {
        bottom: 30px;
        left: 30px;
    }
    .parallax__cta--br {
        bottom: 30px;
        right: 30px;
    }
    .parallax__cta--mini {
        padding: 15px;
        width: auto;
        h2 {
            margin: 0;
            @include font-size(22);
        }
    }
    .parallax__bg {
        position: relative;
        height: 200%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}

.parallax--header {
    height: 350px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 40px 0;
    p {
        color: #fff;
        margin: 0;
    }
}

.content {
    padding: 100px 0;
    @include font-size(20);

    img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 15px;
    }
}