
.global-nav {
    background-color: #fff;
    z-index: 1030;
    position: fixed;
    top: -85px;
    width: 100%;
    transition: all 0.4s;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 2px 7px;

    .global-nav--inner {
        float: right;
        padding: 15px 0;

        a {
            margin: 0 15px;
            padding: 14px 0 2px;
            @include font-size(12);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            color: #333;
            display: inline-block;

            &:hover,
            &.active {
                border-bottom: solid 2px #333;
                text-decoration: none;
            }

            &.btn {
                padding: 10px 15px;
                border-color: #333;
                text-transform: capitalize;
                font-weight: 400;
                height: 44px;
                line-height: 18px;
                @include font-size(14);


                &:hover{
                    color: #fff;
                    background-color: #333;
                }
            }
        }

    }
}

.parallax {
    height: 500px;
    position: relative;
    overflow: hidden;

    .parallax__cta {
        position: absolute;
        background-color: #fff;
        padding: 30px;
        max-width: 70%;
        width: 400px;

        h2 {
            margin: 0 0 10px;
        }

        p {
            @include font-size(16);
        }
        a {
            border-bottom: solid 2px #222;
            color: #222;
            @include font-size(14);
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }
        }
    }
    .parallax__cta--tl {
        top: 30px;
        left: 30px;
    }
    .parallax__cta--bl {
        bottom: 30px;
        left: 30px;
    }
    .parallax__cta--br {
        bottom: 30px;
        right: 30px;
    }
    .parallax__cta--mini {
        padding: 15px;
        width: auto;
        h2 {
            margin: 0;
            @include font-size(22);
        }
    }
    .parallax__bg {
        background-position: 50% 50%;
        background-size: cover;
        position: relative;
        height: 200%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}

.parallax--header {
    height: 350px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 40px 0;
    p {
        color: #fff;
        margin: 0;
        @include font-size(16)
    }
}

.content {
    padding: 100px 0;
    @include font-size(20);

    img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 25px;
    }
    .content-inner {
        padding: 50px;
        border: solid 2px $co-primary;

        h2 {
            margin-top: 0;
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #000;
    color: #fff;
    padding: 6px 9px;
    @include font-size(11);
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        color: #fff;
    }
}

.lightbox {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        max-width: 80%;
    }
}