<%= @plan.inspect %>
<div class="container">

    <h2> Your Project</h2>

    <div class="row">
        <div class="col-sm-12 col-md-6 well">
            <% @output.each do |answer|%>

                <h3><%= answer[:title] %></h3>

                <% if answer[:info].length > 1 %>

                    <% answer[:info].each do |bullet| %>

                        <ul>
                            <li><%= bullet %></li>
                        </ul>
                    <% end %>

                <% else %>
                    <p><%= answer[:info].first %></p>
                <% end %>

            <% end %>
        </div>
    </div>

</div>