<!-- <%= @plan.inspect %> -->
<% if @plan.funding == false %>

    <p>You need funding for your project</p>

<% end %>

<% if @plan.resources == false %>

    <p>You need volunteers for your project</p>

<% end %>

<% if @plan.space == false %>

    <p>You need a space for your project</p>

<% end %>

<% if @plan.partnerships == "" %>
    <p> You should consider making partnerships with Architects, Residents, Community groups, and politicians to increase connetivity in the area </p>

<% else %>

    <% @partners.delete(@plan.partnerships) %>

    You should consider making partnerships with<br>
    <% @partners.each do |partner| %>
        - <%= partner %>s<br>
    <% end %>
    as well as more <%= @plan.partnerships %>s

<% end %>

