<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="content" style="width:80%; max-width: 90%; margin: 0 auto; border: solid 2px  #6385BF; padding: 20px;">
        <h1>Hey, <%= @plan.name %></h1>

        <h2>Here is your suggested Approach</h2>

        <% @output.each do |answer|%>

            <h3><%= answer[:title] %></h3>

            <% if answer[:info].length > 1 %>

                <% if answer[:title] == "Partnerships" %>
                    <p>If would be advisable to make the following connections to improve the success of your project:</p>
                <% end %>

                <% answer[:info].each do |bullet| %>

                    <ul>
                        <li> <%= bullet %></li>
                    </ul>
                <% end %>

            <% else %>
                <p><%= answer[:info].first %></p>
            <% end %>

        <% end %>

        <h3 style="text-align: center;">Good Luck With your project!<h3> <p style="text-align: center;"> Let us know how it goes by tweeting us <a href="#">@codesigntoolkit</a></p>

    </div>
  </body>
</html>